In [1]:
import pandas as pd
import numpy as np
import turicreate as tc
import copy
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from os import path
from PIL import Image
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
warnings.filterwarnings('ignore')
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500
from datetime import datetime, timedelta

In [ ]:
! pip install -U turicreate --user

In [160]:
transactions = pd.read_csv("/content/selected_transactions.csv")
articles = pd.read_csv("/content/drive/MyDrive/selected_articles.csv")

articles['article_id'] = articles['article_id'].astype('int')
transactions['article_id'] = transactions['article_id'].astype('int')
transactions['customer_id'] = transactions['customer_id'].astype('int')
actions = transactions.merge(articles, how='left', on='article_id')

In [153]:
actions

,customer_id,article_id,purchase_count,Feature 0,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13,Feature 14,Feature 15,Feature 16,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 27,Feature 28,Feature 29,Feature 30,Feature 31,Feature 32,Feature 33,Feature 34,Feature 35,Feature 36,Feature 37,Feature 38,Feature 39,Feature 40,Feature 41,Feature 42,Feature 43,Feature 44,Feature 45,Feature 46,Feature 47,Feature 48,Feature 49,Feature 50,Feature 51,Feature 52,Feature 53,Feature 54,Feature 55,Feature 56,Feature 57,Feature 58,Feature 59,Feature 60,Feature 61,Feature 62,Feature 63,Feature 64,Feature 65,Feature 66,Feature 67,Feature 68,Feature 69,Feature 70,Feature 71,Feature 72,Feature 73,Feature 74,Feature 75,Feature 76,Feature 77,Feature 78,Feature 79,Feature 80,Feature 81,Feature 82,Feature 83,Feature 84,Feature 85,Feature 86,Feature 87,Feature 88,Feature 89,Feature 90,Feature 91,Feature 92,Feature 93,Feature 94,Feature 95,Feature 96,Feature 97,Feature 98,Feature 99,Feature 100,Feature 101,Feature 102,Feature 103,Feature 104,Feature 105,Feature 106,Feature 107,Feature 108,Feature 109,Feature 110,Feature 111,Feature 112,Feature 113,Feature 114,Feature 115,Feature 116,Feature 117,Feature 118,Feature 119,Feature 120,Feature 121,Feature 122,Feature 123,Feature 124,Feature 125,Feature 126,Feature 127,Feature 128
0,272412481300040,357792003,1,-0.526398,0.273091,-1.303795,-0.244059,-0.098769,-0.859594,-0.550861,0.191273,-0.502408,-0.170663,-0.177541,-0.048477,0.054313,-0.105798,-0.437885,-0.100569,-0.019894,-0.034118,-0.120871,-0.079492,-0.054278,-0.074200,-0.048031,0.017713,-0.010681,-0.037633,-0.458820,-0.023833,-0.172112,0.092929,-0.002123,0.039551,-0.018039,-0.094827,0.080723,0.041556,0.080323,0.012019,-0.121170,0.024918,-0.039335,-0.033734,-0.030843,0.088629,0.047203,-0.128251,0.088221,0.004896,0.038302,0.031615,0.036210,0.008120,0.024554,0.117554,0.058098,0.080555,0.087347,-0.258385,-0.118885,0.003449,0.058903,-0.057357,-0.264011,0.623548,0.323988,-0.258168,0.214648,-0.053978,-0.572519,0.664100,-0.281135,-0.175797,-0.082309,-0.082105,-0.055841,-0.114326,0.022315,-0.078990,-0.069081,-0.113074,-0.032018,-0.078072,-0.001543,0.005771,0.040111,0.037743,0.004536,-0.005011,0.003930,-0.021645,0.011046,-0.046254,-0.001441,0.002109,0.000568,-0.007796,-0.011680,-0.007224,-0.001529,0.025107,0.010383,-0.006044,-0.003946,-0.016929,-0.008591,-0.008703,0.017019,0.021032,-0.016459,-0.011266,-0.015673,-0.005268,-0.015115,-0.020161,0.001320,-0.012551,0.016675,-0.002618,-0.029394,0.002666,0.001151,0.004066,0.014722,-0.017940,-0.003561,-0.024516,-0.005290,-0.004822,0.011305
1,272412481300040,570003019,1,0.696504,-0.305797,0.439559,-0.263344,-0.864880,-0.097306,-0.093410,-0.132873,0.204812,0.202472,0.192985,-0.547602,-0.409279,-0.772575,-0.426914,0.276565,-0.969730,0.492487,0.091929,-0.009130,-0.148926,-0.040689,0.066196,-0.350066,-0.108148,-0.004318,-0.048018,-0.337014,-0.271403,0.251829,0.461606,-0.329625,0.193358,0.168660,-0.015642,-0.066317,-0.023835,-0.016130,0.034290,-0.038660,0.010261,-0.048534,0.032521,0.042280,0.044082,-0.019730,-0.002414,0.052195,-0.058121,0.031738,-0.012970,0.031932,0.017010,-0.010325,0.026986,0.020895,-0.007533,0.027431,0.008249,-0.037346,0.000083,-0.041541,-0.012262,-0.011200,-0.003121,0.021323,0.038123,-0.049362,0.013327,-0.046553,0.004981,0.004314,-0.006036,0.020480,-0.007393,-0.087986,0.071646,0.026489,0.154522,0.000174,0.058420,-0.215641,-0.153195,0.012168,0.120259,-0.046728,0.038333,0.002142,-0.114907,0.011524,-0.001163,-0.064820,-0.095837,0.014556,0.114061,-0.030354,0.003025,0.039879,-0.088064,-0.072672,0.073519,-0.136311,-0.057243,0.065902,0.094694,-0.004352,-0.065673,0.003568,0.018129,0.016962,-0.104784,-0.207680,0.024726,-0.002165,-0.104065,-0.089144,-0.112709,0.070891,-0.051456,-0.090954,0.078040,0.033965,-0.044661,-0.018279,0.081542,-0.001436,-0.027791,0.065052,0.096917
2,272412481300040,570003036,1,0.930183,0.332037,-0.275121,-0.546498,-0.108498,0.025132,-0.353118,0.272462,0.126322,0.145584,0.334346,-0.566241,-0.437666,-0.975022,-0.462356,0.114357,-0.901017,0.562148,0.156138,-0.063693,-0.161876,-0.060511,0.061736,-0.316804,-0.144278,0.000745,-0.064174,-0.352327,-0.282628,0.313664,0.488480,-0.345932,0.226795,0.162374,-0.005218,-0.063051,0.006143,-0.019273,0.009543,-0.025884,-0.003420,-0.042705,0.034648,0.051753,0.039497,-0.018815,-0.001684,0.057939,-0.054682,0.035473,-0.017496,0.032363,0.013829,-0.016195,0.029333,0.014626,-0.015855,0.023005,-0.001816,-0.031457,-0.004579,-0.031323,-0.013149,-0.006115,-0.003397,0.022198,0.037692,-0.049251,0.008989,-0.045608,0.007397,0.003329,-0.008152,0.016314,-0.008718,-0.086947,0.072329,0.031048,0.154005,-0.001234,0.059616,-0.216588,-0.149889,0.014916,0.118678,-0.039444,0.042917,-0.001427,-0.116481,0.018461,-0.002024,-0.070216,-0.090992,0.013210,0.112612,-0.030493,-0.000168,0.036039,-0.086585,-0.073355,0.076383,-0.138407,-0.055255,0.066102,0.092396,-0.007405,-0.066538,0.003913,0.022048,0.015552,-0.107531,-0.209409,0.023236,0.000323,-0.104341,-0.090866,-0.115078,0.068007,-0.054844,-0.091177,0.077032,0.032883,-0.045741,-0.020168,0.080897,0.000339,-0.027042,0.061495,0.097385
3,272412481300040,570003042,1,0.920500,0.147980,-0.219088,-0.515794,-0.346720,0.052876,0.550633,-0.579304,0.355043,0.079146,0.283166,-0.685456,-0.067630,-1.018367,-0.295238,0.295334,-0.867159,0.405782,0.041401,-0.194317,-0.183025,0.045181,0.091761,-0.273975,-0.060112,-0.012954,-0.070883,-0.302391,-0.293186,0.273564,0.452969,-0.342230,0.207410,0.159938,-0.028933,-0.074530,0.000487,-0.013570,0.038273,-0.031300,-0.003575,-0.022708,0.026777,0.036449,0.037619,-0.008858,-0.018312,0.063644,-0.063017,0.021338,-0.013116,0.041120,0.014733,-0.037448,0.032152,0.007798,-0.016283,0.034285,0.016710,-0.027873,-0.008732,-0.042433,-0.005863,-0.009454,0.004132,0.029056,0.039771,-0.043284,0.009978,-0.041060,0.008568,0.000894,-0.012968,0.010025,-0.002100,-0.090168,0.071093,0.030586,0.154383,-0.003258,0.058040,-0.214633,-0.147268,0.009949,0.116207,-0.034565,0.043398,-0.007955,-0.119117,0.012381,0.009510,-0.075319,-0.091743,0.020934,0.106827,-0.027158,-0.000773,0.034127,-0.090897,-0.072275,0.076805,-0.144399,-0.058462,0.071822,0.091909,-0.004471,-0.062686,0.004014,0.021747,0.016569,-0.113589,-0.208727,0.028840,-0.004090,-0.100100,-0.094057,-0.110517,0.068783,-0.056021,-0.093411,0.075036,0.030300,-0.046979,-0.021241,0.074306,0.000971,-0.024588,0.062224,0.096277
4,272412481300040,575347010,1,-0.010659,0.419545,-0.386928,-0.348851,-0.372127,0.188819,0.125687,-0.668410,0.112367,0.431105,0.081637,-0.437207,0.442522,-0.848929,0.278681,-0.027362,-0.071401,-0.315994,0.351633,-0.315486,0.667900,-0.556933,1.507705,0.561173,0.336326,0.006557,-0.010952,0.243281,-0.204233,-0.365521,-0.075319,-0.052105,-0.019599,0.107279,-0.260909,0.061239,-0.205499,-0.096727,0.066008,-0.107900,0.100692,-0.065610,0.054047,0.074726,-0.010383,-0.010098,0.187335,-0.040813,-0.025523,0.027739,-0.016339,-0.023457,-0.010235,-0.052538,0.003686,0.024650,-0.013950,0.034094,-0.036478,-0.005196,-0.097893,-0.062964,0.030979,0.012081,0.006354,-0.199563,-0.045626,-0.058018,0.124531,0.006017,-0.012286,0.033402,-0.006511,0.040398,0.023702,-0.068024,-0.007910,-0.060587,0.019102,0.022054,0.058362,0.079599,-0.027388,0.007509,0.023459,-0.054307,-0.054061,0.004862,0.110904,-0.015351,-0.031802,-0.056883,0.076103,0.017252,0.003802,0.099956,-0.006643,-0.077397,0.009582,0.054435,-0.073510,0.012830,-0.046201,-0.065953,0.064272,-0.034728,0.013208,0.011389,0.026542,-0.013288,-0.029970,0.017010,0.093287,-0.133033,-0.016511,-0.118445,-0.142351,-0.145483,-0.053399,-0.020519,-0.010085,-0.006578,0.008475,0.053901,0.070846,-0.025758,-0.110854,0.086620,0.003802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140140,9223345314868179968,625672005,1,-0.522592,-0.207060,0.025972,0.124017,-0.780171,0.107550,-0.147434,-0.088225,-0.076101,0.791159,1.039376,0.844255,0.656898,0.061737,-0.631087,-0.099009,-0.202983,-0.072813,-0.030958,-0.044737,-0.115676,0.091426,-0.003067,0.102211,-0.229569,-0.041545,0.676794,-0.035593,0.229690,0.032371,-0.014373,-0.121592,-0.175487,-0.013303,0.082404,-0.115582,-0.007195,0.025213,-0.071832,0.081206,0.003978,0.023886,-0.086102,0.038914,0.115328,-0.200628,-0.019991,0.044590,0.047522,0.019630,0.105286,-0.344496,0.245442,0.546188,-0.076439,0.080800,0.016622,0.151581,-0.026164,0.074112,0.183458,0.015923,0.001294,0.099441,-0.121227,0.248876,-0.033621,0.194979,0.274593,0.139377,-0.253735,0.217443,-0.424362,-0.207765,-0.414780,-0.112496,-0.076244,0.009159,0.125548,0.080568,0.013364,0.050475,0.007258,-0.054055,0.004630,0.021173,-0.090941,-0.024521,-0.007094,-0.020075,-0.006156,-0.020209,0.024894,-0.003506,0.009262,-0.104612,-0.127812,0.029781,-0.042028,0.093971,0.004713,-0.005158,0.047028,-0.012065,0.007069,-0.008627,-0.011629,-0.011853,-0.000861,-0.019619,0.006014,0.007128,-0.009871,-0.041036,0.022292,-0.010881,0.048931,-0.035607,-0.028785,0.025852,-0.000156,0.016801,-0.002744,-0.009010,-0.069366,-0.014183,0.042752,0.037005,-0.034032
140141,9223345314868179968,646823001,1,-0.677643,-0.140872,1.008169,-0.474434,-0.051081,-0.085063,0.691900,0.758357,-0.210353,-0.044233,-0.037826,-0.396166,0.133580,0.572306,0.140461,-0.456824,-0.016276,-0.217421,-0.065233,0.153485,-0.102388,-0.177384,-0.173945,0.244381,0.053848,-0.015608,0.043838,0.068643,-0.062208,-0.065284,-0.070913,-0.068097,0.145104,0.200987,-0.220919,0.008371,0.116666,-0.039585,0.188094,0.377988,0.220117,-0.013709,-0.218323,0.257166,-0.211102,-0.046103,-0.122620,-0.018447,0.036578,-0.074287,-0.015659,0.019438,0.022480,0.005977,0.042744,0.008670,0.006307,-0.022955,0.021539,0.007312,0.040682,-0.030165,-0.112039,-0.011718,-0.071194,-0.034731,0.022680,-0.010268,0.078795,0.058951,0.002114,0.021410,-0.033813,0.059977,0.043000,0.027178,0.128516,-0.008819,-0.199637,0.186102,-0.016745,0.054992,0.062060,-0.102311,0.060479,-0.025444,0.076875,-0.014805,0.061048,0.059591,0.011674,-0.009718,-0.038128,0.127239,-0.097042,0.114276,-0.079386,-0.070686,-0.003984,0.029079,-0.085857,0.111984,-0.015811,-0.034065,0.002365,-0.013864,-0.004440,0.029579,-0.060273,-0.007275,0.063126,0.058125,0.114592,-0.012078,0.020036,-0.091969,-0.145688,-0.007979,-0.060260,-0.102735,0.004438,-0.008149,-0.013056,-0.011581,0.027242,-0.077343,-0.031565,0.043480,-0.026071
140142,9223345314868179968,648415001,1,-0.708649,-0.840039,-0.074961,0.157662,-0.370279,0.284359,0.066153,0.181065,0.001124,0.742263,1.129018,0.703037,0.534106,0.133638,-0.341095,-0.118803,-0.094993,0.034495,-0.052094,-0.054744,-0.095577,-0.006924,-0.060957,0.043490,-0.205783,-0.053642,0.706069,0.019814,0.256037,-0.000469,0.027881,-0.124401,-0.118306,0.099106,-0.026616,-0.094349,-0.030945,-0.019194,0.041707,-0.009737,0.017284,-0.024671,-0.042952,0.069585,0.112744,-0.095439,0.004552,0.052272,-0.014958,-0.019083,0.205010,-0.339282,0.229208,0.534048,-0.053596,0.015495,-0.035492,0.163580,0.025904,0.003251,0.022768,-0.063221,0.026055,-0.018959,0.015719,-0.028936,-0.009241,0.009081,0.007398,-0.010756,0.021444,-0.110169,-0.021706,0.001221,0.000220,-0.027808,-0.030156,0.025923,-0.006295,0.030241,0.014539,0.004675,0.018006,0.043594,0.019332,0.043833,-0.026957,0.000238,-0.036581,-0.008257,-0.002023,0.010173,0.022998,-0.021807,-0.000559,-0.055223,-0.106475,0.023083,0.007095,0.063715,0.023411,-0.004375,0.014958,-0.013979,-0.020578,-0.003469,-0.009164,-0.015697,0.007236,-0.038298,0.006315,0.001199,0.015618,-0.013298,0.035756,0.010999,0.037912,-0.004293,-0.000677,0.021542,0.020570,-0.003276,-0.035738,-0.016813,-0.044408,-0.003394,0.054254,0.023148,-0.021876
140143,9223345314868179968,673024001,1,0.848434,-0.034633,0.511304,-0.143657,-0.863142,-0.169059,0.370832,0.448765,-0.199457,0.086611,-0.145055,-0.202635,0.029555,0.547019,-0.354534,-0.431411,0.012040,-0.320314,0.002507,0.104279,-0.009301,-0.090715,-0.197527,0.319111,-0.009168,-0.048152,0.047822,-0.139273,-0.138225,0.014954,-0.394092,0.317791,-0.151521,-0.343148,0.160029,0.026912,-0.048785,-0.179054,0.822935,0.300531,-0.634888,-0.296527,0.135159,0.008698,0.084785,0.186723,-0.019153,0.070759,-0.123623,0.135971,-0.092639,-0.060845,-0.070119,0.086823,-0.049307,-0.009498,-0.082144,-0.025267,-0.011881,-0.020439,-0.040084,-0.016638,-0.091643,0.023002,-0.059683,-0.024107,0.030698,0.004188,0.045085,0.017701,-0.000059,0.015884,0.038322,-0.008343,-0.064437,0.000006,0.030948,0.040972,-0.110077,-0.019100,0.043287,0.114253,0.002655,0.069618,-0.009338,-0.013384,0.180875,0.111792,0.037893,-0.122588,-0.117006,0.027575,0.185341,-0.024269,0.014641,0.159232,-0.128806,-0.110835,-0.033382,-0.046058,-0.087852,-0.016884,0.046058,-0.026299,-0.099408,0.096568,0.048353,0.072968,-0.018140,0.083522,-0.068913,0.022348,-0.002738,0.039990,-0.044039,0.015978,-0.065686,-0.088773,-0.026389,-0.050266,0.028169,0.040687,-0.115721,-0.027696,-0.115238,0.030885,0.038904,0.013862,0.030324
140144,9223345314868179968,687534001,1,0.835483,-0.029560,0.510203,-0.148537,-0.868151,-0.167336,0.394316,0.460646,-0.212235,0.079725,-0.140955,-0.200355,0.015666,0.539819,-0.368744,-0.421334,-0.005911,-0.310433,0.006532,0.087197,-0.014270,-0.085809,-0.180907,0.307860,-0.011205,-0.051520,0.055831,-0.145155,-0.135961,0.002257,-0.393404,0.310868,-0.140748,-0.350160,0.195225,0.047304,-0.070665,-0.185182,0.808838,0.317268,-0.618618,-0.301783,0.150589,0.004104,0.090534,0.180180,-0.022157,0.082010,-0.123441,0.140999,-0.120671,-0.057113,-0.099400,0.100600,-0.071176,-0.001454,-0.068460,-0.025928,-0.014913,0.030084,-0.032120,0.015413,-0.078303,0.019652,-0.048791,-0.039245,0.021905,-0.018757,0.029305,0.003822,-0.001127,0.020529,0.011864,-0.036851,0.037562,0.041310,-0.048840,-0.016805,-0.015769,-0.022866,0.047488,0.039450,-0.033402,0.025415,0.048587,-0.048625,-0.092717,0.057047,-0.003496,0.099237,-0.004380,-0.019720,0.061875,-0.049374,-0.009455,0.156097,-0.096800,-0.045353,0.059019,-0.031819,-0.100697,0.080111,0.054912,0.013996,-0.098739,0.065853,-0.019602,0.076887,-0.016294,0.115258,-0.068121,-0.005015,-0.012689,0.047678,-0.045110,0.014248,-0.074828,-0.034627,-0.057670,-0.060834,0.054844,-0.011677,-0.026818,-0.074007,-0.032273,-0.014555,0.054170,0.034840,0.010900

In [161]:
customers = pd.read_csv("/content/selected_customers.csv")
customers

,customer_id,club_member_status_ACTIVE,club_member_status_LEFT CLUB,club_member_status_PRE-CREATE,fashion_news_frequency_Monthly,fashion_news_frequency_NONE,fashion_news_frequency_None,fashion_news_frequency_Regularly,age_16.0,age_17.0,age_18.0,age_19.0,age_20.0,age_21.0,age_22.0,age_23.0,age_24.0,age_25.0,age_26.0,age_27.0,age_28.0,age_29.0,age_30.0,age_31.0,age_32.0,age_33.0,age_34.0,age_35.0,age_36.0,age_37.0,age_38.0,age_39.0,age_40.0,age_41.0,age_42.0,age_43.0,age_44.0,age_45.0,age_46.0,age_47.0,age_48.0,age_49.0,age_50.0,age_51.0,age_52.0,age_53.0,age_54.0,age_55.0,age_56.0,age_57.0,age_58.0,age_59.0,age_60.0,age_61.0,age_62.0,age_63.0,age_64.0,age_65.0,age_66.0,age_67.0,age_68.0,age_69.0,age_70.0,age_71.0,age_72.0,age_73.0,age_74.0,age_75.0,age_76.0,age_77.0,age_78.0,age_79.0,age_80.0,age_81.0,age_82.0,age_83.0,age_84.0,age_85.0,age_86.0,age_87.0,age_88.0,age_89.0,age_90.0,age_91.0,age_92.0,age_93.0,age_94.0,age_95.0,age_96.0,age_97.0,age_98.0,age_99.0
0,8122356880318346240,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,78347533398257360,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8055340703569117184,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,736383813387836160,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1039958543753853440,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6629,2918935307555040256,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6630,3100651939027501568,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6631,2612324804234276864,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6632,1932792634561136384,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6633,902817252609049856,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [162]:
customers["customer_id"] = customers["customer_id"].astype("int")

In [163]:
actions = actions.merge(customers,how='left',on='customer_id')

actions

,customer_id,article_id,purchase_count,Feature 0,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13,Feature 14,Feature 15,Feature 16,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 27,Feature 28,Feature 29,Feature 30,Feature 31,Feature 32,Feature 33,Feature 34,Feature 35,Feature 36,Feature 37,Feature 38,Feature 39,Feature 40,Feature 41,Feature 42,Feature 43,Feature 44,Feature 45,Feature 46,Feature 47,Feature 48,Feature 49,Feature 50,Feature 51,Feature 52,Feature 53,Feature 54,Feature 55,Feature 56,Feature 57,Feature 58,Feature 59,Feature 60,Feature 61,Feature 62,Feature 63,Feature 64,Feature 65,Feature 66,Feature 67,Feature 68,Feature 69,Feature 70,Feature 71,Feature 72,Feature 73,Feature 74,Feature 75,Feature 76,Feature 77,Feature 78,Feature 79,Feature 80,Feature 81,Feature 82,Feature 83,Feature 84,Feature 85,Feature 86,Feature 87,Feature 88,Feature 89,Feature 90,Feature 91,Feature 92,Feature 93,Feature 94,Feature 95,Feature 96,Feature 97,Feature 98,Feature 99,Feature 100,Feature 101,Feature 102,Feature 103,Feature 104,Feature 105,Feature 106,Feature 107,Feature 108,Feature 109,Feature 110,Feature 111,Feature 112,Feature 113,Feature 114,Feature 115,Feature 116,Feature 117,Feature 118,Feature 119,Feature 120,Feature 121,Feature 122,Feature 123,Feature 124,Feature 125,Feature 126,Feature 127,Feature 128,club_member_status_ACTIVE,club_member_status_LEFT CLUB,club_member_status_PRE-CREATE,fashion_news_frequency_Monthly,fashion_news_frequency_NONE,fashion_news_frequency_None,fashion_news_frequency_Regularly,age_16.0,age_17.0,age_18.0,age_19.0,age_20.0,age_21.0,age_22.0,age_23.0,age_24.0,age_25.0,age_26.0,age_27.0,age_28.0,age_29.0,age_30.0,age_31.0,age_32.0,age_33.0,age_34.0,age_35.0,age_36.0,age_37.0,age_38.0,age_39.0,age_40.0,age_41.0,age_42.0,age_43.0,age_44.0,age_45.0,age_46.0,age_47.0,age_48.0,age_49.0,age_50.0,age_51.0,age_52.0,age_53.0,age_54.0,age_55.0,age_56.0,age_57.0,age_58.0,age_59.0,age_60.0,age_61.0,age_62.0,age_63.0,age_64.0,age_65.0,age_66.0,age_67.0,age_68.0,age_69.0,age_70.0,age_71.0,age_72.0,age_73.0,age_74.0,age_75.0,age_76.0,age_77.0,age_78.0,age_79.0,age_80.0,age_81.0,age_82.0,age_83.0,age_84.0,age_85.0,age_86.0,age_87.0,age_88.0,age_89.0,age_90.0,age_91.0,age_92.0,age_93.0,age_94.0,age_95.0,age_96.0,age_97.0,age_98.0,age_99.0
0,272412481300040,357792003,1,-0.526398,0.273091,-1.303795,-0.244059,-0.098769,-0.859594,-0.550861,0.191273,-0.502408,-0.170663,-0.177541,-0.048477,0.054313,-0.105798,-0.437885,-0.100569,-0.019894,-0.034118,-0.120871,-0.079492,-0.054278,-0.074200,-0.048031,0.017713,-0.010681,-0.037633,-0.458820,-0.023833,-0.172112,0.092929,-0.002123,0.039551,-0.018039,-0.094827,0.080723,0.041556,0.080323,0.012019,-0.121170,0.024918,-0.039335,-0.033734,-0.030843,0.088629,0.047203,-0.128251,0.088221,0.004896,0.038302,0.031615,0.036210,0.008120,0.024554,0.117554,0.058098,0.080555,0.087347,-0.258385,-0.118885,0.003449,0.058903,-0.057357,-0.264011,0.623548,0.323988,-0.258168,0.214648,-0.053978,-0.572519,0.664100,-0.281135,-0.175797,-0.082309,-0.082105,-0.055841,-0.114326,0.022315,-0.078990,-0.069081,-0.113074,-0.032018,-0.078072,-0.001543,0.005771,0.040111,0.037743,0.004536,-0.005011,0.003930,-0.021645,0.011046,-0.046254,-0.001441,0.002109,0.000568,-0.007796,-0.011680,-0.007224,-0.001529,0.025107,0.010383,-0.006044,-0.003946,-0.016929,-0.008591,-0.008703,0.017019,0.021032,-0.016459,-0.011266,-0.015673,-0.005268,-0.015115,-0.020161,0.001320,-0.012551,0.016675,-0.002618,-0.029394,0.002666,0.001151,0.004066,0.014722,-0.017940,-0.003561,-0.024516,-0.005290,-0.004822,0.011305,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,272412481300040,570003019,1,0.696504,-0.305797,0.439559,-0.263344,-0.864880,-0.097306,-0.093410,-0.132873,0.204812,0.202472,0.192985,-0.547602,-0.409279,-0.772575,-0.426914,0.276565,-0.969730,0.492487,0.091929,-0.009130,-0.148926,-0.040689,0.066196,-0.350066,-0.108148,-0.004318,-0.048018,-0.337014,-0.271403,0.251829,0.461606,-0.329625,0.193358,0.168660,-0.015642,-0.066317,-0.023835,-0.016130,0.034290,-0.038660,0.010261,-0.048534,0.032521,0.042280,0.044082,-0.019730,-0.002414,0.052195,-0.058121,0.031738,-0.012970,0.031932,0.017010,-0.010325,0.026986,0.020895,-0.007533,0.027431,0.008249,-0.037346,0.000083,-0.041541,-0.012262,-0.011200,-0.003121,0.021323,0.038123,-0.049362,0.013327,-0.046553,0.004981,0.004314,-0.006036,0.020480,-0.007393,-0.087986,0.071646,0.026489,0.154522,0.000174,0.058420,-0.215641,-0.153195,0.012168,0.120259,-0.046728,0.038333,0.002142,-0.114907,0.011524,-0.001163,-0.064820,-0.095837,0.014556,0.114061,-0.030354,0.003025,0.039879,-0.088064,-0.072672,0.073519,-0.136311,-0.057243,0.065902,0.094694,-0.004352,-0.065673,0.003568,0.018129,0.016962,-0.104784,-0.207680,0.024726,-0.002165,-0.104065,-0.089144,-0.112709,0.070891,-0.051456,-0.090954,0.078040,0.033965,-0.044661,-0.018279,0.081542,-0.001436,-0.027791,0.065052,0.096917,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,272412481300040,570003036,1,0.930183,0.332037,-0.275121,-0.546498,-0.108498,0.025132,-0.353118,0.272462,0.126322,0.145584,0.334346,-0.566241,-0.437666,-0.975022,-0.462356,0.114357,-0.901017,0.562148,0.156138,-0.063693,-0.161876,-0.060511,0.061736,-0.316804,-0.144278,0.000745,-0.064174,-0.352327,-0.282628,0.313664,0.488480,-0.345932,0.226795,0.162374,-0.005218,-0.063051,0.006143,-0.019273,0.009543,-0.025884,-0.003420,-0.042705,0.034648,0.051753,0.039497,-0.018815,-0.001684,0.057939,-0.054682,0.035473,-0.017496,0.032363,0.013829,-0.016195,0.029333,0.014626,-0.015855,0.023005,-0.001816,-0.031457,-0.004579,-0.031323,-0.013149,-0.006115,-0.003397,0.022198,0.037692,-0.049251,0.008989,-0.045608,0.007397,0.003329,-0.008152,0.016314,-0.008718,-0.086947,0.072329,0.031048,0.154005,-0.001234,0.059616,-0.216588,-0.149889,0.014916,0.118678,-0.039444,0.042917,-0.001427,-0.116481,0.018461,-0.002024,-0.070216,-0.090992,0.013210,0.112612,-0.030493,-0.000168,0.036039,-0.086585,-0.073355,0.076383,-0.138407,-0.055255,0.066102,0.092396,-0.007405,-0.066538,0.003913,0.022048,0.015552,-0.107531,-0.209409,0.023236,0.000323,-0.104341,-0.090866,-0.115078,0.068007,-0.054844,-0.091177,0.077032,0.032883,-0.045741,-0.020168,0.080897,0.000339,-0.027042,0.061495,0.097385,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,272412481300040,570003042,1,0.920500,0.147980,-0.219088,-0.515794,-0.346720,0.052876,0.550633,-0.579304,0.355043,0.079146,0.283166,-0.685456,-0.067630,-1.018367,-0.295238,0.295334,-0.867159,0.405782,0.041401,-0.194317,-0.183025,0.045181,0.091761,-0.273975,-0.060112,-0.012954,-0.070883,-0.302391,-0.293186,0.273564,0.452969,-0.342230,0.207410,0.159938,-0.028933,-0.074530,0.000487,-0.013570,0.038273,-0.031300,-0.003575,-0.022708,0.026777,0.036449,0.037619,-0.008858,-0.018312,0.063644,-0.063017,0.021338,-0.013116,0.041120,0.014733,-0.037448,0.032152,0.007798,-0.016283,0.034285,0.016710,-0.027873,-0.008732,-0.042433,-0.005863,-0.009454,0.004132,0.029056,0.039771,-0.043284,0.009978,-0.041060,0.008568,0.000894,-0.012968,0.010025,-0.002100,-0.090168,0.071093,0.030586,0.154383,-0.003258,0.058040,-0.214633,-0.147268,0.009949,0.116207,-0.034565,0.043398,-0.007955,-0.119117,0.012381,0.009510,-0.075319,-0.091743,0.020934,0.106827,-0.027158,-0.000773,0.034127,-0.090897,-0.072275,0.076805,-0.144399,-0.058462,0.071822,0.091909,-0.004471,-0.062686,0.004014,0.021747,0.016569,-0.113589,-0.208727,0.028840,-0.004090,-0.100100,-0.094057,-0.110517,0.068783,-0.056021,-0.093411,0.075036,0.030300,-0.046979,-0.021241,0.074306,0.000971,-0.024588,0.062224,0.096277,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,272412481300040,575347010,1,-0.010659,0.419545,-0.386928,-0.348851,-0.372127,0.188819,0.125687,-0.668410,0.112367,0.431105,0.081637,-0.437207,0.442522,-0.848929,0.278681,-0.027362,-0.071401,-0.315994,0.351633,-0.315486,0.667900,-0.556933,1.507705,0.561173,0.336326,0.006557,-0.010952,0.243281,-0.204233,-0.365521,-0.075319,-0.052105,-0.019599,0.107279,-0.260909,0.061239,-0.205499,-0.096727,0.066008,-0.107900,0.100692,-0.065610,0.054047,0.074726,-0.010383,-0.010098,0.187335,-0.040813,-0.025523,0.027739,-0.016339,-0.023457,-0.010235,-0.052538,0.003686,0.024650,-0.013950,0.034094,-0.036478,-0.005196,-0.097893,-0.062964,0.030979,0.012081,0.006354,-0.199563,-0.045626,-0.058018,0.124531,0.006017,-0.012286,0.033402,-0.006511,0.040398,0.023702,-0.068024,-0.007910,-0.060587,0.019102,0.022054,0.058362,0.079599,-0.027388,0.007509,0.023459,-0.054307,-0.054061,0.004862,0.110904,-0.015351,-0.031802,-0.056883,0.076103,0.017252,0.003802,0.099956,-0.006643,-0.077397,0.009582,0.054435,-0.073510,0.012830,-0.046201,-0.065953,0.064272,-0.034728,0.013208,0.011389,0.026542,-0.013288,-0.029970,0.017010,0.093287,-0.133033,-0.016511,-0.118445,-0.142351,-0.145483,-0.053399,-0.020519,-0.010085,-0.006578,0.008475,0.053901,0.070846,-0.025758,-0.110854,0.086620,0.003802,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140140,9223345314868179968,625672005,1,-0.522592,-0.207060,0.025972,0.124017,-0.780171,0.107550,-0.147434,-0.088225,-0.076101,0.791159,1.039376,0.844255,0.656898,0.061737,-0.631087,-0.099009,-0.202983,-0.072813,-0.030958,-0.044737,-0.115676,0.091426,-0.003067,0.102211,-0.229569,-0.041545,0.676794,-0.035593,0.229690,0.032371,-0.014373,-0.121592,-0.175487,-0.013303,0.082404,-0.115582,-0.007195,0.025213,-0.071832,0.081206,0.003978,0.023886,-0.086102,0.038914,0.115328,-0.200628,-0.019991,0.044590,0.047522,0.019630,0.105286,-0.344496,0.245442,0.546188,-0.076439,0.080800,0.016622,0.151581,-0.026164,0.074112,0.183458,0.015923,0.001294,0.099441,-0.121227,0.248876,-0.033621,0.194979,0.274593,0.139377,-0.253735,0.217443,-0.424362,-0.207765,-0.414780,-0.112496,-0.076244,0.009159,0.125548,0.080568,0.013364,0.050475,0.007258,-0.054055,0.004630,0.021173,-0.090941,-0.024521,-0.007094,-0.020075,-0.006156,-0.020209,0.024894,-0.003506,0.009262,-0.104612,-0.127812,0.029781,-0.042028,0.093971,0.004713,-0.005158,0.047028,-0.012065,0.007069,-0.008627,-0.011629,-0.011853,-0.000861,-0.019619,0.006014,0.007128,-0.009871,-0.041036,0.022292,-0.010881,0.048931,-0.035607,-0.028785,0.025852,-0.000156,0.016801,-0.002744,-0.009010,-0.069366,-0.014183,0.042752,0.037005,-0.034032,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140141,9223345314868179968,646823001,1,-0.677643,-0.140872,1.008169,-0.474434,-0.051081,-0.085063,0.691900,0.758357,-0.210353,-0.044233,-0.037826,-0.396166,0.133580,0.572306,0.140461,-0.456824,-0.016276,-0.217421,-0.065233,0.153485,-0.102388,-0.177384,-0.173945,0.244381,0.053848,-0.015608,0.043838,0.068643,-0.062208,-0.065284,-0.070913,-0.068097,0.145104,0.200987,-0.220919,0.008371,0.116666,-0.039585,0.188094,0.377988,0.220117,-0.013709,-0.218323,0.257166,-0.211102,-0.046103,-0.122620,-0.018447,0.036578,-0.074287,-0.015659,0.019438,0.022480,0.005977,0.042744,0.008670,0.006307,-0.022955,0.021539,0.007312,0.040682,-0.030165,-0.112039,-0.011718,-0.071194,-0.034731,0.022680,-0.010268,0.078795,0.058951,0.002114,0.021410,-0.033813,0.059977,0.043000,0.027178,0.128516,-0.008819,-0.199637,0.186102,-0.016745,0.054992,0.062060,-0.102311,0.060479,-0.025444,0.076875,-0.014805,0.061048,0.059591,0.011674,-0.009718,-0.038128,0.127239,-0.097042,0.114276,-0.079386,-0.070686,-0.003984,0.029079,-0.085857,0.111984,-0.015811,-0.034065,0.002365,-0.013864,-0.004440,0.029579,-0.060273,-0.007275,0.063126,0.058125,0.114592,-0.012078,0.020036,-0.091969,-0.145688,-0.007979,-0.060260,-0.102735,0.004438,-0.008149,-0.013056,-0.011581,0.027242,-0.077343,-0.031565,0.043480,-0.026071,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140142,9223345314868179968,648415001,1,-0.708649,-0.840039,-0.074961,0.157662,-0.370279,0.284359,0.066153,0.181065,0.001124,0.742263,1.129018,0.703037,0.534106,0.133638,-0.341095,-0.118803,-0.094993,0.034495,-0.052094,-0.054744,-0.095577,-0.006924,-0.060957,0.043490,-0.205783,-0.053642,0.706069,0.019814,0.256037,-0.000469,0.027881,-0.124401,-0.118306,0.099106,-0.026616,-0.094349,-0.030945,-0.019194,0.041707,-0.009737,0.017284,-0.024671,-0.042952,0.069585,0.112744,-0.095439,0.004552,0.052272,-0.014958,-0.019083,0.205010,-0.339282,0.229208,0.534048,-0.053596,0.015495,-0.035492,0.163580,0.025904,0.003251,0.022768,-0.063221,0.026055,-0.018959,0.015719,-0.028936,-0.009241,0.009081,0.007398,-0.010756,0.021444,-0.110169,-0.021706,0.001221,0.000220,-0.027808,-0.030156,0.025923,-0.006295,0.030241,0.014539,0.004675,0.018006,0.043594,0.019332,0.043833,-0.026957,0.000238,-0.036581,-0.008257,-0.002023,0.010173,0.022998,-0.021807,-0.000559,-0.055223,-0.106475,0.023083,0.007095,0.063715,0.023411,-0.004375,0.014958,-0.013979,-0.020578,-0.003469,-0.009164,-0.015697,0.007236,-0.038298,0.006315,0.001199,0.015618,-0.013298,0.035756,0.010999,0.037912,-0.004293,-0.000677,0.021542,0.020570,-0.003276,-0.035738,-0.016813,-0.044408,-0.003394,0.054254,0.023148,-0.021876,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140143,9223345314868179968,673024001,1,0.848434,-0.034633,0.511304,-0.143657,-0.863142,-0.169059,0.370832,0.448765,-0.199457,0.086611,-0.145055,-0.202635,0.029555,0.547019,-0.354534,-0.431411,0.012040,-0.320314,0.002507,0.104279,-0.009301,-0.090715,-0.197527,0.319111,-0.009168,-0.048152,0.047822,-0.139273,-0.138225,0.014954,-0.394092,0.317791,-0.151521,-0.343148,0.160029,0.026912,-0.048785,-0.179054,0.822935,0.300531,-0.634888,-0.296527,0.135159,0.008698,0.084785,0.186723,-0.019153,0.070759,-0.123623,0.135971,-0.092639,-0.060845,-0.070119,0.086823,-0.049307,-0.009498,-0.082144,-0.025267,-0.011881,-0.020439,-0.040084,-0.016638,-0.091643,0.023002,-0.059683,-0.024107,0.030698,0.004188,0.045085,0.017701,-0.000059,0.015884,0.038322,-0.008343,-0.064437,0.000006,0.030948,0.040972,-0.110077,-0.019100,0.043287,0.114253,0.002655,0.069618,-0.009338,-0.013384,0.180875,0.111792,0.037893,-0.122588,-0.117006,0.027575,0.185341,-0.024269,0.014641,0.159232,-0.128806,-0.110835,-0.033382,-0.046058,-0.087852,-0.016884,0.046058,-0.026299,-0.099408,0.096568,0.048353,0.072968,-0.018140,0.083522,-0.068913,0.022348,-0.002738,0.039990,-0.044039,0.015978,-0.065686,-0.088773,-0.026389,-0.050266,0.028169,0.040687,-0.115721,-0.027696,-0.115238,0.030885,0.038904,0.013862,0.030324,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140144,9223345314868179968,687534001,1,0.835483,-0.029560,0.510203,-0.148537,-0.868151,-0.167336,0.394316,0.460646,-0.212235,0.079725,-0.140955,-0.200355,0.015666,0.539819,-0.368744,-0.421334,-0.005911,-0.310433,0.006532,0.087197,-0.014270,-0.085809,-0.180907,0.307860,-0.011205,-0.051520,0.055831,-0.145155,-0.135961,0.002257,-0.393404,0.310868,-0.140748,-0.350160,0.195225,0.047304,-0.070665,-0.185182,0.808838,0.317268,-0.618618,-0.301783,0.150589,0.004104,0.090534,0.180180,-0.022157,0.082010,-0.123441,0.140999,-0.120671,-0.057113,-0.099400,0.100600,-0.071176,-0.001454,-0.068460,-0.025928,-0.014913,0.030084,-0.032120,0.015413,-0.078303,0.019652,-0.048791,-0.039245,0.021905,-0.018757,0.029305,0.003822,-0.001127,0.020529,0.011864,-0.036851,0.037562,0.041310,-0.048840,-0.016805,-0.015769,-0.022866,0.047488,0.039450,-0.033402,0.025415,0.048587,-0.048625,-0.092717,0.057047,-0.003496,0.099237,-0.004380,-0.019720,0.061875,-0.049374,-0.009455,0.156097,-0.096800,-0.045353,0.059019,-0.031819,-0.100697,0.080111,0.054912,0.013996,-0.098739,0.065853,-0.019602,0.076887,-0.016294,0.115258,-0.068121,-0.005015,-0.012689,0.047678,-0.045110,0.014248,-0.074828,-0.034627,-0.057670,-0.060834,0.054844,-0.011677,-0.026818,-0.074007,-0.032273,-0.014555,0.054170,0.034840,0.010900,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
articles

,article_id,Feature 0,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13,Feature 14,Feature 15,Feature 16,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 27,Feature 28,Feature 29,Feature 30,Feature 31,Feature 32,Feature 33,Feature 34,Feature 35,Feature 36,Feature 37,Feature 38,Feature 39,Feature 40,Feature 41,Feature 42,Feature 43,Feature 44,Feature 45,Feature 46,Feature 47,Feature 48,Feature 49,Feature 50,Feature 51,Feature 52,Feature 53,Feature 54,Feature 55,Feature 56,Feature 57,Feature 58,Feature 59,Feature 60,Feature 61,Feature 62,Feature 63,Feature 64,Feature 65,Feature 66,Feature 67,Feature 68,Feature 69,Feature 70,Feature 71,Feature 72,Feature 73,Feature 74,Feature 75,Feature 76,Feature 77,Feature 78,Feature 79,Feature 80,Feature 81,Feature 82,Feature 83,Feature 84,Feature 85,Feature 86,Feature 87,Feature 88,Feature 89,Feature 90,Feature 91,Feature 92,Feature 93,Feature 94,Feature 95,Feature 96,Feature 97,Feature 98,Feature 99,Feature 100,Feature 101,Feature 102,Feature 103,Feature 104,Feature 105,Feature 106,Feature 107,Feature 108,Feature 109,Feature 110,Feature 111,Feature 112,Feature 113,Feature 114,Feature 115,Feature 116,Feature 117,Feature 118,Feature 119,Feature 120,Feature 121,Feature 122,Feature 123,Feature 124,Feature 125,Feature 126,Feature 127,Feature 128
0,108775015.0,0.408531,-0.966922,0.499474,0.365774,0.294214,0.055154,-0.066833,-0.113461,-0.184069,-0.175194,0.210305,-0.261333,-0.262689,0.111734,-0.196819,0.418919,-0.550053,0.340710,0.042336,-0.205734,-0.061570,-0.046016,-0.131113,0.251857,0.292795,-0.386532,0.043952,-0.056640,0.147759,-0.027741,-0.023302,0.033641,-0.080011,0.191734,0.832880,0.387101,-0.304152,0.006003,-0.150323,0.050006,0.276766,-0.101714,0.083234,0.011099,-0.064434,-0.074423,-0.027453,0.005086,-0.036148,0.126355,-0.043163,-0.062473,-0.049253,-0.048674,-0.036397,0.034332,0.026449,0.071324,-0.069377,-0.026302,-0.012400,-0.100806,-0.079706,-0.056599,0.005431,0.039385,0.018601,-0.054873,-0.019722,-0.018006,-0.047266,0.056301,-0.010723,-0.096755,0.094104,-0.027149,0.087602,-0.045213,-0.026556,0.021128,0.208846,-0.026770,-0.006963,-0.083541,0.050173,0.148456,-0.144775,0.189205,-0.013399,-0.091328,-0.178849,-0.169060,0.144736,0.007208,-0.122847,-0.159956,0.093264,-0.114599,0.119554,-0.097462,0.015153,0.000403,0.158651,-0.110623,-0.017557,0.089849,0.027461,0.051126,0.075883,-0.032646,-0.025751,-0.052141,-0.014147,0.035829,0.072213,-0.004349,-0.113046,0.082648,0.012799,-0.018040,-0.087561,0.031641,0.009772,0.075496,0.007306,0.031972,-0.017281,0.002332,0.069116
1,108775044.0,0.632527,-0.513145,-0.159173,0.113324,0.812374,0.205336,0.577209,-0.559892,-0.033838,-0.298521,0.300487,-0.399187,0.078961,-0.134058,-0.065143,0.437688,-0.447482,0.254005,-0.008192,-0.390920,-0.095669,0.039855,-0.105549,0.327949,0.340830,-0.395168,0.021087,-0.022016,0.125976,-0.006007,-0.031940,0.021036,-0.065959,0.183012,0.819589,0.378888,-0.279830,0.008563,-0.146340,0.057366,0.262930,-0.075888,0.077489,0.005268,-0.070897,-0.063551,-0.043351,0.016535,-0.041044,0.115955,-0.043309,-0.053285,-0.051531,-0.075798,-0.031231,0.021236,0.017699,0.078178,-0.060916,-0.016829,-0.021215,-0.101698,-0.073307,-0.054853,0.012684,0.047118,0.020248,-0.048795,-0.023072,-0.012513,-0.043680,0.052881,-0.017655,-0.107210,0.099398,-0.029331,0.087049,-0.041116,-0.026695,0.017696,0.208466,-0.025762,-0.001036,-0.085761,0.046122,0.160619,-0.139709,0.179108,-0.017610,-0.090471,-0.168175,-0.179559,0.148830,0.013586,-0.130081,-0.156759,0.089466,-0.120351,0.116721,-0.097065,0.018440,-0.007684,0.157432,-0.104702,-0.020342,0.089730,0.030448,0.051572,0.079501,-0.033039,-0.034556,-0.053188,-0.010032,0.033904,0.076178,-0.009262,-0.110854,0.080540,0.008234,-0.020497,-0.090566,0.027976,0.007454,0.072534,0.000071,0.034379,-0.014078,-0.000496,0.068476
2,108775051.0,0.873007,0.334482,-0.098009,0.044641,0.621343,-0.000455,-0.529608,-0.025799,-0.338213,-0.169650,0.243789,-0.190935,-0.142781,-0.217208,-0.618046,0.358837,-0.736444,0.234449,0.192165,-0.101660,-0.078403,0.089813,-0.095022,0.338156,0.086439,-0.388143,-0.137243,-0.501219,0.064513,0.315525,0.491192,-0.260180,0.103152,0.340808,0.826112,0.422442,-0.310451,-0.045617,0.022496,0.061482,0.300213,-0.138208,0.114812,0.041361,-0.019704,-0.017872,-0.040091,0.003340,-0.051630,0.144771,-0.028866,-0.075591,-0.051290,-0.066102,-0.030609,0.019268,0.021126,0.068208,-0.088313,-0.030258,-0.023180,-0.074051,-0.085771,-0.054610,0.024187,0.045294,0.022125,-0.063692,-0.026456,-0.021678,-0.034421,0.056401,0.001930,-0.131054,0.097748,-0.031890,0.087030,-0.049989,-0.044421,0.029175,0.214692,-0.028793,-0.001098,-0.092407,0.057578,0.150413,-0.127206,0.193075,-0.029634,-0.079017,-0.177522,-0.161412,0.141808,0.004183,-0.130797,-0.155615,0.084736,-0.112693,0.129393,-0.114226,0.020975,-0.012316,0.156647,-0.107859,-0.015057,0.078234,0.022192,0.051000,0.083582,-0.033950,-0.027387,-0.044981,-0.010360,0.027405,0.059533,-0.009133,-0.116946,0.081889,0.011908,-0.015635,-0.089641,0.031857,0.004640,0.073280,0.009738,0.033207,-0.016085,0.007413,0.065496
3,110065001.0,-0.689568,-0.672794,-0.058345,0.166593,-0.497949,1.513468,-0.124929,0.027424,-0.492693,-0.266837,-0.566178,0.095894,-0.128775,0.025199,0.010867,-0.042166,-0.119933,-0.037247,-0.249950,0.024151,-0.092854,-0.031815,-0.095728,-0.049925,0.061615,-0.007269,-0.064227,0.149352,0.024639,0.130119,-0.010079,-0.261514,-0.260434,0.009660,0.224731,-0.591420,-0.209820,0.281366,0.168344,0.105689,0.183212,0.020863,0.118389,0.067894,-0.131348,0.117512,0.252639,-0.000309,-0.049734,0.012054,0.053099,-0.008448,0.016665,-0.028135,-0.172157,0.067299,0.051397,-0.008224,0.044854,0.015883,0.031399,0.022904,-0.007490,0.011051,-0.003790,0.008220,-0.012805,0.005135,0.012932,0.020398,0.004934,-0.005521,0.010598,-0.015326,0.010077,0.036477,0.024801,-0.000462,0.003016,-0.006544,0.022663,-0.028959,-0.011923,-0.015850,0.039250,-0.012107,0.011599,0.026181,-0.017280,0.007648,-0.007638,-0.027396,0.017304,-0.018953,-0.015207,-0.018911,-0.011936,0.013658,-0.001398,-0.009437,-0.022886,0.024278,0.001307,-0.011626,-0.003784,0.025009,-0.011993,-0.014621,-0.018323,-0.010031,0.015077,-0.007011,0.013395,0.005067,0.029482,0.013283,-0.033979,-0.024159,-0.032016,-0.029159,-0.014275,0.024700,-0.030330,0.048634,-0.015029,-0.012320,-0.004760,-0.024931,0.020701
4,110065002.0,-0.465573,-0.219016,-0.716992,-0.085857,0.020211,1.663650,0.519113,-0.419008,-0.342462,-0.390163,-0.475997,-0.041961,0.212874,-0.220593,0.142543,-0.023397,-0.017362,-0.123952,-0.300478,-0.161035,-0.126953,0.054056,-0.070163,0.026166,0.109651,-0.015905,-0.087092,0.183975,0.002856,0.151854,-0.018716,-0.274119,-0.246382,0.000938,0.211440,-0.599633,-0.185498,0.283926,0.172327,0.113049,0.169376,0.046689,0.112644,0.062063,-0.137811,0.128384,0.236741,0.011140,-0.054630,0.001655,0.052954,0.000740,0.014388,-0.055259,-0.166991,0.054203,0.042648,-0.001369,0.053315,0.025356,0.022584,0.022012,-0.001091,0.012798,0.003463,0.015954,-0.011158,0.011213,0.009583,0.025891,0.008520,-0.008941,0.003665,-0.025781,0.015370,0.034294,0.024249,0.003635,0.002877,-0.009976,0.022283,-0.027951,-0.005996,-0.018070,0.035198,0.000056,0.016664,0.016084,-0.021491,0.008505,0.003035,-0.037896,0.021398,-0.012575,-0.022441,-0.015714,-0.015734,0.007906,-0.004231,-0.009040,-0.019600,0.016190,0.000088,-0.005705,-0.006569,0.024890,-0.009007,-0.014175,-0.014705,-0.010424,0.006272,-0.008058,0.017510,0.003142,0.033447,0.008369,-0.031787,-0.026267,-0.036580,-0.031615,-0.017279,0.021035,-0.032648,0.045672,-0.022265,-0.009912,-0.001557,-0.027759,0.020061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4163,562211001.0,-0.966527,-1.006121,-0.705022,0.082150,-0.450077,-0.812182,-0.083007,0.056585,-0.342123,-0.128790,-0.189734,-0.122669,-0.006704,0.185255,-0.158574,0.028442,0.010868,-0.001005,-0.226967,-0.037709,-0.029478,-0.145998,-0.090316,-0.079880,0.040877,-0.060914,-0.478815,0.027912,-0.149824,0.003842,-0.001191,0.045861,-0.002700,-0.010872,-0.005240,0.049603,0.028254,-0.007854,-0.010694,-0.049043,-0.003074,-0.074079,-0.008097,0.104534,0.060428,-0.067347,0.104377,-0.005273,0.015191,0.010695,-0.040051,-0.040603,0.014744,-0.033577,-0.007753,0.023514,0.012906,0.026529,0.005453,-0.009420,-0.000024,-0.036678,-0.029655,0.078636,0.019975,0.014697,-0.021350,-0.022018,0.038887,-0.051328,0.003284,0.077888,0.106246,-0.018454,-0.016392,0.150393,-0.056062,0.328821,0.199507,0.378096,-0.023138,0.306077,0.198925,0.522612,0.470336,0.278052,-0.130576,-0.338606,-0.222079,-0.160770,0.203053,-0.113993,0.265499,0.027565,-0.203308,-0.022540,-0.012791,0.222254,0.018666,-0.049941,0.035939,-0.092668,-0.043659,-0.010078,-0.150145,-0.163967,-0.039619,0.089715,0.024252,-0.105817,0.116918,0.019410,0.047873,-0.034744,-0.049635,-0.089363,0.100865,-0.073154,-0.098464,-0.024642,-0.009828,-0.002544,-0.115845,0.002006,0.031085,0.017627,0.031168,0.018558,0.071334
4164,562211002.0,-0.769451,-0.368908,-0.603693,0.042807,-0.864130,-0.997776,-0.295477,-0.199859,-0.425328,-0.073529,-0.287585,0.006288,0.119584,0.119511,-0.444131,0.043299,-0.092631,-0.122092,-0.212006,-0.022740,-0.052937,-0.046582,-0.047648,-0.022151,0.001893,-0.041836,-0.487664,-0.035158,-0.191449,0.044846,-0.051863,0.063340,-0.061830,-0.132629,0.093466,0.037597,0.062581,0.030879,-0.121227,0.032797,-0.028014,0.019836,-0.069891,0.028240,0.000859,-0.219131,0.063053,-0.001361,0.087873,-0.042208,-0.315762,0.067816,0.044730,0.018222,-0.053945,0.159349,0.680142,0.137598,0.182289,0.275849,-0.397015,-0.043301,-0.025969,-0.024151,0.131294,-0.018029,0.015692,-0.091634,-0.012709,-0.093774,0.048875,0.011457,0.093864,-0.053653,-0.109034,0.113886,-0.007870,0.311090,0.217265,0.342799,-0.052455,0.276391,0.209016,0.566026,0.506615,0.301879,-0.115610,-0.315158,-0.237892,-0.191540,0.165703,-0.049315,0.285060,0.048965,-0.200559,-0.011749,-0.021288,0.202947,0.010950,-0.056548,0.031439,-0.091119,-0.018462,-0.024705,-0.142140,-0.147703,-0.028695,0.088199,0.043657,-0.098991,0.107602,0.028947,0.048886,-0.049204,-0.056556,-0.097586,0.105374,-0.081029,-0.092848,-0.018513,0.008916,0.007523,-0.099678,0.007370,0.034894,0.020583,0.028764,0.016015,0.052833
4165,562211003.0,-0.742531,-0.552344,-1.363669,-0.170300,0.068083,-0.662000,0.561036,-0.389846,-0.191892,-0.252117,-0.099552,-0.260524,0.334946,-0.060537,-0.026897,0.047211,0.113440,-0.087710,-0.277495,-0.222895,-0.063576,-0.060127,-0.064752,-0.003788,0.088912,-0.069550,-0.501680,0.062535,-0.171607,0.025577,-0.009829,0.033256,0.011352,-0.019594,-0.018530,0.041390,0.052576,-0.005294,-0.006711,-0.041682,-0.016910,-0.048253,-0.013842,0.098703,0.053965,-0.056475,0.088479,0.006176,0.010295,0.000295,-0.040197,-0.031416,0.012466,-0.060700,-0.002587,0.010418,0.004156,0.033384,0.013914,0.000053,-0.008839,-0.037570,-0.023256,0.080382,0.027228,0.022430,-0.019703,-0.015940,0.035537,-0.045835,0.006870,0.074468,0.099314,-0.028909,-0.011098,0.148210,-0.056615,0.332918,0.199368,0.374664,-0.023518,0.307085,0.204852,0.520393,0.466284,0.290215,-0.125511,-0.348702,-0.226290,-0.159913,0.213726,-0.124492,0.269592,0.033943,-0.210542,-0.019343,-0.016589,0.216501,0.015833,-0.049544,0.039225,-0.100755,-0.044878,-0.004157,-0.152929,-0.164086,-0.036632,0.090161,0.027870,-0.106210,0.108113,0.018363,0.051988,-0.036669,-0.045671,-0.094277,0.103057,-0.075262,-0.103028,-0.027099,-0.012833,-0.006209,-0.118164,-0.000956,0.023850,0.020034,0.034371,0.015729,0.070694
4166,562211012.0,-0.966527,-1.006121,-0.705022,0.082150,-0.450077,-0.812182,-0.083007,0.056585,-0.342123,-0.128790,-0.189734,-0.122669,-0.006704,0.185255,-0.158574,0.028442,0.010868,-0.001005,-0.226967,-0.037709,-0.029478,-0.145998,-0.090316,-0.079880,0.040877,-0.060914,-0.478815,0.027912,-0.149824,0.003842,-0.001191,0.045861,-0.002700,-0.010872,-0.005240,0.049603,0.028254,-0.007854,-0.010694,-0.049043,-0.003074,-0.074079,-0.008097,0.104534,0.060428,-0.067347,0.104377,-0.005273,0.015191,0.010695,-0.040051,-0.040603,0.014744,-0.033577,-0.007753,0.023514,0.012906,0.026529,0.005453,-0.009420,-0.000024,-0.036678,-0.029655,0.078636,0.019975,0.014697,-0.021350,-0.022018,0.038887,-0.051328,0.003284,0.077888,0.106246,-0.018454,-0.016392,0.150393,-0.056062,0.328821,0.199507,0.378096,-0.023138,0.306077,0.198925,0.522612,0.470336,0.278052,-0.130576,-0.338606,-0.222079,-0.160770,0.203053,-0.113993,0.265499,0.027565,-0.203308,-0.022540,-0.012791,0.222254,0.018666,-0.049941,0.035939,-0.092668,-0.043659,-0.010078,-0.150145,-0.163967,-0.039619,0.089715,0.024252,-0.105817,0.116918,0.019410,0.047873,-0.034744,-0.049635,-0.089363,0.100865,-0.073154,-0.098464,-0.024642,-0.009828,-0.002544,-0.115845,0.002006,0.031085,0.017627,0.031168,0.018558,0.071334
4167,562211013.0,-0.742531,-0.552344,-1.363669,-0.170300,0.068083,-0.662000,0.561036,-0.389846,-0.191892,-0.252117,-0.099552,-0.260524,0.334946,-0.060537,-0.026897,0.047211,0.113440,-0.087710,-0.277495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 4. Data Modelling
### 4.1 Method 1: Content-based Recommendation System
Pairwise item-item Similarities - easily run out of memory (Method can only be used for small/low-dimensional data

### 4.2 Method 2: Model-based Collaborative Filtering (CF)
Model-based CF with `turicreate` package

In [164]:
users_id = list(transactions["customer_id"].unique())

def get_kitems_cf_recommendations(train_data, topk, user_id, item_id,user_data,item_data, target, users_to_recommend):

    # if user_id not in history 
    # recommend the most popular things for a new user
    
    model = tc.recommender.create(train_data, 
                                                      user_id=user_id, 
                                                      item_id=item_id, 
                                                      user_data=user_data,
                                                      item_data=item_data,
                                                      target=target,
                                                      # similarity_type='cosine',
                                                      verbose=False)
        
    recom = model.recommend(users=users_to_recommend, k=topk, verbose=False)
    
    return model, recom


target = 'purchase_count'
user_id = 'customer_id'
item_id = 'article_id'
user_data_column = list(customers.columns)
user_data = tc.SFrame(customers)
# del user_data[0]
item_data_column = list(articles.columns)
# del item_data[0]
item_data = tc.SFrame(articles)

actions_sf = tc.SFrame(actions)
action_train, action_test = tc.recommender.util.random_split_by_user(actions_sf, 
                                                                     user_id=user_id,
                                                                     item_id=item_id,

                                                                     random_seed=0)
users_to_recommend = list(pd.Series(action_test["customer_id"]).unique())
#users_to_recommend = [pd.Series(action_test["customer_id"])[0]]
recom_model, recom_results = get_kitems_cf_recommendations(action_train, 12, user_id, item_id, user_data, item_data, target, users_to_recommend=users_to_recommend )

Preparing data set.

    Data has 135674 observations with 6802 users and 40539 items.

    Data prepared in: 6.41279s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| side_data_factorization        | Assign Factors for Side Data                     | True     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 16959 / 135674 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 1                 | Not Viable                               |

| 1       | 0.25              | Not Viable                               |

| 2       | 0.0625            | Not Viable                               |

| 3       | 0.015625          | Not Viable                               |

| 4       | 0.00390625        | Not Viable                               |

| 5       | 0.000976562       | Not Viable                               |

| 6       | 0.000244141       | Not Viable                               |

| 7       | 6.10352e-05       | Not Viable                               |

| 8       | 1.52588e-05       | Not Viable                               |

| 9       | 3.8147e-06        | Not Viable                               |

| 10      | 9.53674e-07       | Not Viable                               |

| 11      | 2.38419e-07       | Not Viable                               |

| 12      | 5.96046e-08       | Not Viable                               |

| 13      | 1.49012e-08       | Not Viable                               |

| 14      | 3.72529e-09       | Not Viable                               |

| 15      | 9.31323e-10       | Not Viable                               |

| 16      | 2.32831e-10       | Not Viable                               |

| 17      | 5.82077e-11       | Not Viable                               |

| 18      | 1.45519e-11       | Not Viable                               |

| 19      | 3.63798e-12       | Not Viable                               |

+---------+-------------------+------------------------------------------+

| Final   | 0.005             | Unknown                                  |

+---------+-------------------+------------------------------------------+

WARNING: Having difficulty finding viable stepsize; Model may be at optimum. Continuing with small step size.

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 96us         | 1.79769e+308      | 1.79769e+308          |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 4.536ms      | 1.79769e+308      | 1.79769e+308          | 0.005       |

| 2       | 7.648ms      | 1.79769e+308      | 1.79769e+308          | 0.005       |

| 3       | 10.811ms     | 1.79769e+308      | 1.79769e+308          | 0.005       |

| 4       | 13.791ms     | 1.79769e+308      | 1.79769e+308          | 0.005       |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Convergence on objective within bounds.

Computing final objective value and training RMSE.

       Final objective value: 1.79769e+308

       Final training RMSE: 1.79769e+308

In [5]:
action_train["purchase_count"].value_counts()

Columns:
	value	int
	count	int

Rows: 16

Data:
+-------+--------+
| value | count  |
+-------+--------+
|   1   | 114717 |
|   2   | 14520  |
|   3   |  1986  |
|   4   |  663   |
|   5   |  185   |
|   6   |   92   |
|   7   |   34   |
|   8   |   28   |
|   9   |   13   |
|   10  |   11   |
+-------+--------+
[16 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [165]:
recom_results

Columns:
	customer_id	int
	article_id	int
	score	float
	rank	int

Rows: 8832

Data:
+-----------------+------------+--------------------+------+
|   customer_id   | article_id |       score        | rank |
+-----------------+------------+--------------------+------+
| 272412481300040 | 872645001  | 1.1587491970327977 |  1   |
| 272412481300040 | 623397001  | 1.1586545140177118 |  2   |
| 272412481300040 | 522952025  | 1.1584722527135223 |  3   |
| 272412481300040 | 743791002  | 1.1584304480664058 |  4   |
| 272412481300040 | 536139038  | 1.1584050446720275 |  5   |
| 272412481300040 | 646015003  | 1.1583925081327564 |  6   |
| 272412481300040 | 759814012  | 1.158351721786818  |  7   |
| 272412481300040 | 803757008  | 1.1583198267925567 |  8   |
| 272412481300040 | 536139037  | 1.1582981027954586 |  9   |
| 272412481300040 | 803757023  | 1.1582795864354263 |  10  |
+-----------------+------------+--------------------+------+
[8832 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [182]:
results = copy.deepcopy(pd.DataFrame(recom_results))
results.drop(columns=['score','rank'], axis=1, inplace=True)
results['predicted_y'] = 1
action_test_df = pd.DataFrame(action_test)
action_train_df = pd.DataFrame(action_train)

action_test_df["product_code"] = (action_test_df["article_id"].astype("str").str.slice(0,6)).astype('int')

results['actual_y'] = -1

for i in range(len(results)):
  customer = results.loc[i]['customer_id']
  article = int(str(results.loc[i]['article_id'])[:6])
  search = action_test_df[(action_test_df["customer_id"]==customer) & (action_test_df["product_code"]==article)]['purchase_count']
  # search = action_train_df[(action_train_df["customer_id"]== customer) & (action_train_df["article_id"]== article)]['purchase_count']
  print(search)
  if len(search)>0:
      results.loc[i]['actual_y'] = 1
  else:
      results.loc[i]['actual_y'] = 0

 5000
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)
Series([], Name: purchase_count, dtype: int64)

In [183]:
results

              customer_id  article_id  predicted_y  actual_y
0         272412481300040   872645001            1         0
1         272412481300040   623397001            1         0
2         272412481300040   522952025            1         0
3         272412481300040   743791002            1         0
4         272412481300040   536139038            1         0
...                   ...         ...          ...       ...
8827  9218914861576812544   803757008            1         0
8828  9218914861576812544   536139037            1         0
8829  9218914861576812544   803757023            1         0
8830  9218914861576812544   625506009            1         0
8831  9218914861576812544   536139051            1         0

[8832 rows x 4 columns]

In [197]:
results["actual_y"].value_counts()

0    8791
1      41
Name: actual_y, dtype: int64

In [233]:
results[results["actual_y"]==1].index

Int64Index([ 871,  873, 1204, 1208, 1211, 1231, 1233, 1828, 1832, 1835, 2164,
            2168, 2171, 2479, 2481, 2620, 2624, 2627, 4675, 4677, 5032, 5036,
            5039, 6469, 6835, 6837, 6966, 7420, 7424, 7427, 7542, 7624, 7628,
            7631, 7708, 7710, 7712, 7715, 8476, 8480, 8483],
           dtype='int64')

In [199]:
action_test_df

,customer_id,article_id,purchase_count,Feature 0,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13,Feature 14,Feature 15,Feature 16,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 27,Feature 28,Feature 29,Feature 30,Feature 31,Feature 32,Feature 33,Feature 34,Feature 35,Feature 36,Feature 37,Feature 38,Feature 39,Feature 40,Feature 41,Feature 42,Feature 43,Feature 44,Feature 45,Feature 46,Feature 47,Feature 48,Feature 49,Feature 50,Feature 51,Feature 52,Feature 53,Feature 54,Feature 55,Feature 56,Feature 57,Feature 58,Feature 59,Feature 60,Feature 61,Feature 62,Feature 63,Feature 64,Feature 65,Feature 66,Feature 67,Feature 68,Feature 69,Feature 70,Feature 71,Feature 72,Feature 73,Feature 74,Feature 75,Feature 76,Feature 77,Feature 78,Feature 79,Feature 80,Feature 81,Feature 82,Feature 83,Feature 84,Feature 85,Feature 86,Feature 87,Feature 88,Feature 89,Feature 90,Feature 91,Feature 92,Feature 93,Feature 94,Feature 95,Feature 96,Feature 97,Feature 98,Feature 99,Feature 100,Feature 101,Feature 102,Feature 103,Feature 104,Feature 105,Feature 106,Feature 107,Feature 108,Feature 109,Feature 110,Feature 111,Feature 112,Feature 113,Feature 114,Feature 115,Feature 116,Feature 117,Feature 118,Feature 119,Feature 120,Feature 121,Feature 122,Feature 123,Feature 124,Feature 125,Feature 126,Feature 127,Feature 128,club_member_status_ACTIVE,club_member_status_LEFT CLUB,club_member_status_PRE-CREATE,fashion_news_frequency_Monthly,fashion_news_frequency_NONE,fashion_news_frequency_None,fashion_news_frequency_Regularly,age_16.0,age_17.0,age_18.0,age_19.0,age_20.0,age_21.0,age_22.0,age_23.0,age_24.0,age_25.0,age_26.0,age_27.0,age_28.0,age_29.0,age_30.0,age_31.0,age_32.0,age_33.0,age_34.0,age_35.0,age_36.0,age_37.0,age_38.0,age_39.0,age_40.0,age_41.0,age_42.0,age_43.0,age_44.0,age_45.0,age_46.0,age_47.0,age_48.0,age_49.0,age_50.0,age_51.0,age_52.0,age_53.0,age_54.0,age_55.0,age_56.0,age_57.0,age_58.0,age_59.0,age_60.0,age_61.0,age_62.0,age_63.0,age_64.0,age_65.0,age_66.0,age_67.0,age_68.0,age_69.0,age_70.0,age_71.0,age_72.0,age_73.0,age_74.0,age_75.0,age_76.0,age_77.0,age_78.0,age_79.0,age_80.0,age_81.0,age_82.0,age_83.0,age_84.0,age_85.0,age_86.0,age_87.0,age_88.0,age_89.0,age_90.0,age_91.0,age_92.0,age_93.0,age_94.0,age_95.0,age_96.0,age_97.0,age_98.0,age_99.0,product_code
0,272412481300040,618162007,1,0.527212,-0.393472,-0.368406,-0.242765,0.328918,0.300520,0.600427,-0.429935,0.259444,-0.335971,0.312765,-0.255560,0.186597,-0.098516,-0.207120,0.514099,0.855112,0.140930,-0.179444,0.200190,0.205755,-0.375484,-0.222607,0.151909,-0.089586,0.245896,0.073433,0.188989,-0.173730,-0.074998,0.085038,-0.037336,0.266279,-0.326324,-0.035108,-0.118710,-0.073197,-0.113885,0.178561,-0.208711,0.338485,0.420427,0.012440,-0.015964,0.099102,-0.190592,-0.220617,-0.499676,-0.033314,0.611013,0.085867,-0.022983,-0.206085,-0.002539,-0.087758,0.207027,0.081001,0.038159,0.169306,-0.223620,0.017923,-0.163147,0.044427,0.065555,-0.172783,-0.009031,0.061035,-0.099405,0.017143,0.008917,0.013154,-0.043190,0.054925,0.005298,0.056122,-0.138783,0.046042,0.009889,0.022458,0.023132,-0.005934,0.065425,0.015779,0.000076,-0.001358,-0.044576,-0.093900,-0.033662,0.146427,-0.019412,-0.074634,-0.031000,0.069205,-0.071714,0.058847,0.030275,0.032907,-0.010102,0.035634,0.102376,-0.048347,0.102107,-0.036658,0.036466,0.045547,-0.068910,-0.130485,-0.074327,-0.079975,-0.059236,-0.030437,0.038278,-0.042373,0.065496,0.024465,0.005786,0.090775,-0.097748,0.012736,-0.085969,0.047292,-0.035326,0.032460,-0.045786,0.038976,0.037317,0.031777,0.015191,0.015677,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,618162
1,272412481300040,727937004,1,-0.018927,0.351751,0.662490,1.493623,-0.148387,-0.250710,0.357423,0.295324,-0.359121,0.336291,-0.494477,0.101185,0.131506,-0.190508,-0.280922,-0.095673,-0.050373,-0.190441,0.000686,-0.029788,-0.014819,0.032788,-0.003017,0.107790,0.041807,-0.092974,-0.010413,-0.071840,-0.110706,-0.072072,-0.080509,-0.108776,-0.077658,0.013433,0.054645,0.060080,-0.093741,0.313414,-0.158446,0.113836,-0.091589,0.085073,-0.274637,-0.165425,0.093473,-0.210412,0.012660,-0.127413,0.149849,0.137710,-0.259211,0.040798,-0.148020,0.241029,0.686152,-0.376805,-0.231918,0.012769,-0.072983,-0.086928,-0.146309,-0.065550,-0.016398,-0.022115,0.062916,-0.045007,-0.005500,-0.003586,-0.046093,-0.094291,0.022128,-0.003058,0.028272,0.017237,-0.052028,-0.057790,-0.005528,0.001109,0.112003,-0.047807,-0.039171,-0.052270,-0.020400,-0.014421,0.016949,0.010615,-0.010876,0.017573,-0.098210,0.004273,-0.023201,-0.048500,-0.034161,-0.012183,0.034770,0.048375,-0.061693,0.067655,-0.015777,-0.086012,-0.025500,0.045979,0.015142,0.040717,0.022547,-0.039424,-0.107319,-0.048872,-0.001383,0.050198,-0.008500,-0.013807,-0.016094,-0.023582,0.038996,-0.029905,-0.003119,0.041151,-0.059373,0.037664,0.026078,0.043313,-0.001455,0.011509,0.025849,-0.024441,-0.009935,0.051399,-0.021614,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,727937
2,272412481300040,743214005,1,0.749690,0.147750,-0.294221,-0.089154,0.057316,0.024470,0.230284,-0.825277,0.730867,-0.973843,0.268302,0.419107,0.253628,-0.260619,-0.227711,-0.016302,-0.074867,-0.388332,-0.169197,0.410004,0.325797,-0.294780,-0.208989,0.327429,0.025757,0.363874,0.148275,0.140208,-0.583084,-0.088705,-0.017726,0.006161,0.099540,-0.176131,-0.023561,-0.108035,0.048014,-0.030909,-0.126191,0.081078,-0.014790,0.127810,-0.060135,-0.021458,-0.006499,-0.193898,0.035937,-0.094855,0.073517,0.059265,-0.131124,0.102550,0.054400,0.058358,-0.120344,-0.006107,0.096155,-0.062809,-0.104594,0.153477,0.707668,0.076913,-0.030531,-0.239776,0.003158,-0.247855,-0.115021,-0.258264,-0.248062,-0.184455,0.019923,0.016233,-0.009983,-0.020701,-0.128486,0.046082,-0.050161,-0.054645,-0.132356,-0.026078,-0.042569,-0.002108,0.038956,0.043944,-0.007370,-0.011390,-0.079629,-0.052757,-0.011464,-0.035245,-0.113923,0.040214,0.113534,-0.023691,0.062902,-0.051033,0.032456,0.063034,0.107336,-0.022782,-0.012988,0.078056,-0.035387,-0.042786,-0.021501,-0.019745,0.046065,-0.008859,0.036353,0.030200,-0.026418,0.068968,-0.075197,0.026332,0.011602,0.056802,0.009484,-0.012567,-0.043466,-0.057422,0.040977,-0.008634,0.065429,0.029809,0.032859,0.019346,0.024908,0.000843,0.015338,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,743214
3,272412481300040,773781003,1,-0.832705,-0.616834,-1.311438,-0.147887,0.054314,-0.808428,0.145414,-0.088773,-0.256421,-0.068561,-0.330508,-0.142416,-0.081025,0.273672,-0.125485,-0.099974,0.096635,0.354236,0.141952,0.427610,-0.049993,0.352805,0.098183,-0.087532,0.601177,0.279491,-0.339302,-0.103203,-0.066778,-0.068631,-0.036749,-0.025388,-0.039269,0.024827,-0.012345,-0.039847,0.005567,0.019750,0.002523,-0.036394,0.001368,-0.055297,-0.017090,0.120220,0.150913,-0.088828,0.089863,0.010645,-0.017688,-0.014776,0.085982,0.059578,0.034780,0.256323,0.000908,0.124670,0.056107,0.013447,-0.153704,-0.304408,-0.156382,0.405191,-0.011540,-0.355266,-0.179263,0.029630,-0.007305,-0.016721,-0.012852,0.026574,-0.024744,0.028731,-0.007025,0.027855,0.014515,-0.039289,0.051407,-0.094183,-0.082319,-0.114647,-0.031240,-0.063710,-0.039547,-0.012847,-0.003775,-0.020157,-0.018023,0.014457,0.027028,-0.001221,-0.014108,-0.016042,-0.015972,0.011284,0.024787,-0.007210,-0.012644,-0.020021,-0.027813,0.020225,0.010253,0.006832,-0.004353,-0.030626,-0.015256,0.030279,0.023993,0.010329,-0.033762,-0.017086,-0.056017,-0.004999,-0.040366,-0.055612,0.012795,-0.028686,0.061480,-0.002506,-0.092422,-0.011127,-0.050554,-0.102576,0.008203,-0.016229,0.002609,-0.002461,0.011228,-0.016875,0.026954,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,773781
4,272412481300040,776350005,1,-0.127729,0.863806,-0.295893,-0.168055,-0.435605,0.568608,-0.087315,-0.525541,-0.084324,0.264184,-0.257316,0.307558,-0.516648,0.449841,0.125762,0.450180,0.586255,0.710956,-0.549416,-0.107638,0.075588,-0.183895,0.028908,-0.015130,-0.255297,0.070260,0.151932,-0.440935,0.112670,-0.169121,0.004648,0.989499,0.662960,0.757077,0.031445,-0.263859,0.123647,0.053711,0.037439,-0.212658,-0.109286,0.105780,-0.031642,-0.046317,-0.077185,-0.042440,0.129901,0.024071,0.034684,-0.014680,-0.039933,0.047469,0.104917,0.033827,0.064087,-0.059270,-0.006400,0.022305,-0.027628,-0.023342,-0.014418,0.047858,0.039510,0.017230,0.022574,-0.019403,0.019831,0.016001,-0.062140,-0.087098,-0.034756,0.062751,-0.085398,0.023021,0.075336,-0.129890,0.090164,0.016475,0.183152,-0.013706,-0.019523,0.032544,0.215702,-0.044161,-0.125194,0.066941,-0.105101,0.154815,0.038519,-0.143882,0.246265,0.056048,0.108997,-0.054194,0.133966,-0.060527,0.023836,-0.112152,0.005534,0.001660,-0.041833,-0.061339,-0.025698,0.041757,-0.006052,0.023966,0.002438,-0.028447,0.035171,0.071530,-0.016736,-0.071584,-0.050351,-0.037006,-0.152979,0.109730,-0.015167,-0.021509,-0.058817,0.007242,0.031350,0.038502,-0.017704,0.038722,0.006641,-0.037036,0.073951,0.044844,0.067948,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,776350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4466,9209987838867844096,755201003,1,0.823505,-0.455045,0.431113,-0.295729,-0.685852,-0.165632,-1.011228,-0.288007,0.292192,0.708117,-0.470892,-0.291112,0.731276,-0.374787,0.422325,-0.119159,-0.046625,0.054974,-0.086935,-0.149248,-0.002371,0.092349,-0.037172,0.120126,0.084629,0.244797,-0.026144,0.335573,-0.139203,-0.336862,0.030924,-0.083060,0.092049,0.075393,-0.130022,-0.066131,-0.162654,-0.049404,-0.049848,-0.081366,0.118943,-0.073553,0.040513,0.008524,0.062549,-0.001125,0.015975,0.067199,-0.053915,0.004766,-0.035491,-0.010356,-0.090766,0.032935,-0.049778,-0.014454,-0.039196,0.006834,0.005253,0.016349,0.016168,0.019507,-0.015241,0.022572,-0.023868,0.002332,0.031469,-0.026667,0.040183,0.005019,0.011040,0.004611,0.016320,-0.010532,-0.010674,-0.008633,0.019122,-0.005143,-0.017543,0.043469,-0.045748,0.057993,-0.153032,0.014929,0.009765,0.000960,0.035561,0.012259,-0.005395,-0.110750,0.081846,0.106498,-0.094957,-0.059055,-0.062419,-0.028871,-0.018030,-0.054467,0.031041,0.002548,0.051084,0.029352,0.015434,-0.052159,-0.047122,0.032683,-0.043559,-0.056462,-0.026107,-0.068323,0.007457,0.072721,-0.009511,0.000156,0.060011,0.085757,-0.067875,0.089937,0.013514,0.040962,-0.080713,-0.032677,-0.000912,-0.061794,-0.008843,0.051440,0.093647,0.001545,0.011956,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,755201
4467,9209987838867844096,755574003,1,0.853795,-0.448107,0.432753,-0.307908,-0.702148,-0.158839,-1.024379,-0.277402,0.305747,0.734081,-0.475514,-0.332469,0.757316,-0.352729,0.446739,-0.099755,-0.046290,0.058230,-0.095357,-0.126136,0.018586,0.066362,-0.009567,0.124860,0.091637,0.239920,-0.011522,0.319684,-0.155787,-0.323502,0.026074,-0.072187,0.093874,0.064602,-0.134925,-0.083644,-0.142195,-0.061509,-0.030043,-0.089354,0.095661,-0.108890,0.044133,-0.000805,0.057014,-0.013053,0.057203,0.076159,-0.066583,-0.033743,-0.045064,-0.018533,-0.064272,0.022217,-0.064524,-0.020127,-0.025334,0.007093,-0.007505,-0.022505,0.012374,-0.009696,-0.024827,-0.011039,0.001929,-0.012109,0.029801,0.031022,-0.002534,-0.024471,0.022570,-0.029086,0.025755,0.043810,0.033702,-0.093849,0.032004,0.025961,0.092282,0.027589,-0.125445,0.053855,-0.011915,-0.009289,-0.078137,-0.051833,0.000322,-0.065064,0.117039,0.087243,-0.035478,-0.067432,0.203511,0.004787,0.056160,0.002420,0.008173,-0.020419,-0.013208,0.028732,-0.007618,-0.036861,0.035833,-0.049803,0.002768,-0.017832,0.094683,0.071514,0.090549,0.046072,-0.063904,-0.045354,-0.016330,-0.033244,-0.047471,0.088476,0.085340,0.011458,-0.001759,0.016905,-0.011641,0.047606,-0.061857,0.082356,-0.035162,-0.027428,-0.063612,0.079076,0.007089,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,755574
4468,9209987838867844096,795243004,1,0.364798,-1.005760,0.334440,-0.145550,-0.331491,0.084270,-0.084427,0.096845,0.240674,0.155826,0.263097,-0.533131,-0.433219,-0.484397,0.110760,0.081874,-0.410451,0.404629,0.003922,-0.135282,0.050002,-0.077796,-0.161064,0.349144,0.358288,-0.467348,0.046648,-0.215173,0.144040,-0.239604,0.344963,0.112030,0.222443,-0.487460,-0.107031,-0.390467,0.001410,-0.007078,-0.398463,-0.066004,-0.079255,-0.157690,-0.000198,0.077868,0.031071,0.030432,-0.015995,0.000445,-0.005787,0.016712,0.017987,0.040505,0.063831,-0.029750,-0.015151,0.018606,0.051765,0.027036,0.005875,-0.052104,0.005145,-0.043203,-0.047387,-0.030937,0.023437,0.019733,-0.013019,0.005446,-0.001824,-0.005387,-0.005855,-0.009912,-0.004541,0.023691,0.030902,-0.067208,0.011752,0.041744,0.076876,-0.006344,-0.056029,0.064638,-0.119045,-0.030739,0.031759,-0.038986,0.024384,-0.039398,0.071511,0.060327,0.010082,0.040169,0.161193,-0.071210,0.048298,0.038993,-0.010850,-0.038222,-0.013456,0.060739,-0.014156,-0.027711,-0.032542,0.006905,-0.061532,0.044213,0.044916,-0.044577,-0.135623,0.053813,0.042674,0.025498,0.015468,-0.021070,0.041468,-0.123811,-0.065228,-0.063430,0.109721,0.077469,-0.062946,0.013669,0.025985,0.077254,-0.081611,0.170332,0.039782,0.001206,-0.004529,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,795243
4469,9209987838867844096,900283001,1,0.665052,0.424650,-0.263564,-0.042408,-0.252348,-0.021574,0.129287,-0.722875,0.721561,-0.907577,0.457271,0.301116,-0.026160,0.041703,0.304126,-0.090954,0.325603,-0.140842,-0.093579,-0.556459,-0.222737,0.430016,0.272616,-0.024200,0.152107,0.015015,-0.056211,0.190167,0.126550,0.483255,0.153236,0.268087,0.155944,-0.172399,-0.259477,0.190791,-0.280702,0.331528,0.110109,0.246281,0.163583,0.042963,0.069094,-0.078367,0.194508,-0.125290,0.096164,0.006028,-0.022784,-0.136284,0.022202,0.030227,0.118205,-0.049768,0.034752,-0.012370,-0.004369,0.012628,0.060336,0.013124,0.019727,-0.018555,-0.197511,-0.035942,-0.188050,-0.205212,0.396026,0.226549,0.058554,-0.054354,0.047182,0.041899,0.106232,-0.193814,0.022237,0.019798,-0.005170,0.047055,0.040386,0.015115,0.077643,0.016913,-0.066122,0.173457,0.125012,0.002461,-0.058594,-0.007183,0.029865,-0.105883,0.063317,0.060507,-0.137448,0.004885,-0.040794,-0.000205,0.009312,-0.036127,-0.082297,0.093349,-0.017423,-0.010782,0.029677,-0.117649,-0.119089,0.140983,-0.033289,0.035698,-0.180085,0.128922,-0.071715,0.263889,0.040020,-0.034380,0.059820,0.193661,-0.070931,0.165966,-0.118226,-0.082784,0.139610,-0.018301,0.137516,-0.000031,-0.029277,0.285898,0.002435,-0.042385,-0.002713,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,900283
4470,9218914861576812544,803070006,1,-0.475402,-0.205340,-0.718407,-0.094156,0.003565,1.708802,0.495235,-0.432983,-0.346163,-0.403952,-0.507187,-0.076448,0.206737,-0.206878,0.124756,-0.040290,-0.006971,-0.067034,-0.424294,-0.147697,-0.078214,0.135599,-0.037261,-0.011711,0.129942,-0.009800,0.046646,0.026519,-0.021403,-0.012405,-0.023390,-0.194177,-0.073220,-0.198187,-0.265341,0.450944,0.154876,-0.199644,-0.025169,-0.046924,-0.099123,-0.108996,-0.129938,-0.026886,0.277106,-0.084087,-0.387641,0.069222,-0.010507,-0.072146,0.079028,-0.027878,-0.016888,-0.096385,-0.046174,0.014948,0.023792,0.017910,0.047135,0.001770,0.010680,0.011473,-0.019661,-0.024247,0.029197,-0.033359,-0.011217,-0.002361,0.009260,0.010757,-0.028880,0.010099,-0.022959,-0.019500,0.042330,0.001694,0.042539,-0.007911,-0.011780,0.002440,0.023017,0.008547,0.008531,-0.039430,0.004296,0.049480,0.009567,0.003949,-0.024078,0.020203,0.048929,0.016333,0.014216,0.011484,0.005495,0.017548,-0.015009,-0.010168,0.000388,-0.013778,0.002198,-0.069348,0.012299,-0.014575,0.039820,-0.033756,-0.016220,-0.017023,-0.013061,-0.002676,0.034447,-0.000194,0.024553,-0.000411,0.066200,0.009259,0.019420,0.012065,-0.038154,0.026362,-0.003008,-0.007677,-0.045857,-0.080215,-0.017055,0.031975,-0.026493,0.035365,-0.019554,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,803070

In [222]:
new_results = results
new_results["new_article_id"] = (new_results["article_id"].astype("str").str.slice(0,6)).astype(int)
new_results

              customer_id  article_id  predicted_y  actual_y  new_article_id
0         272412481300040   872645001            1         0          872645
1         272412481300040   623397001            1         0          623397
2         272412481300040   522952025            1         0          522952
3         272412481300040   743791002            1         0          743791
4         272412481300040   536139038            1         0          536139
...                   ...         ...          ...       ...             ...
8827  9218914861576812544   803757008            1         0          803757
8828  9218914861576812544   536139037            1         0          536139
8829  9218914861576812544   803757023            1         0          803757
8830  9218914861576812544   625506009            1         0          625506
8831  9218914861576812544   536139051            1         0          536139

[8832 rows x 5 columns]

In [223]:
new_results = new_results.drop(["predicted_y","actual_y","article_id"],axis=1)

In [224]:
results
train_unq = new_results.groupby('customer_id')['new_article_id'].apply(list).reset_index()

In [225]:
# train_unq['valid_pred'] = train_unq['new_article_id'].map(lambda x: (str(x)[1:-1].split(', ')))
# train_unq['valid_pred'] = train_unq['article_id'].map(lambda x: ' 0'.join(str(x)[1:-1].split(', ')))
train_unq['valid_pred'] = train_unq['new_article_id'].map(lambda x: '0'+' 0'.join(str(x)[1:-1].split(', ')))

In [226]:
train_unq

,customer_id,new_article_id,valid_pred
0,272412481300040,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
1,2189512519371567,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
2,3145515554973885,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
3,3193801779412151,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
4,11825822962544980,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
...,...,...,...
731,9170748557712832512,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
732,9194456354935403520,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
733,9198712240083513344,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
734,9209987838867844096,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...
735,9218914861576812544,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...

In [227]:
valid_unq = action_test_df.groupby('customer_id')['product_code'].apply(list).reset_index()
valid_unq['valid_true'] = valid_unq['product_code'].map(lambda x: '0'+' 0'.join(str(x)[1:-1].split(', ')))

In [228]:
valid_unq

,customer_id,product_code,valid_true
0,272412481300040,"[618162, 727937, 743214, 773781, 776350, 77806...",0618162 0727937 0743214 0773781 0776350 077806...
1,2189512519371567,[788632],0788632
2,3145515554973885,"[743205, 748355, 775328]",0743205 0748355 0775328
3,3193801779412151,"[462128, 487050, 505507, 525563, 620216, 62570...",0462128 0487050 0505507 0525563 0620216 062570...
4,11825822962544980,"[702118, 817820]",0702118 0817820
...,...,...,...
731,9170748557712832512,"[372860, 572942, 599718, 688728, 693243, 75251...",0372860 0572942 0599718 0688728 0693243 075251...
732,9194456354935403520,"[198518, 487800, 556872, 622314, 631536, 66116...",0198518 0487800 0556872 0622314 0631536 066116...
733,9198712240083513344,"[399256, 559633, 610776, 739144, 801452, 80768...",0399256 0559633 0610776 0739144 0801452 080768...
734,9209987838867844096,"[561445, 579541, 615141, 648627, 656491, 66059...",0561445 0579541 0615141 0648627 0656491 066059...
735,9218914861576812544,[803070],0803070

In [229]:
valid_unq

# merged = pd.merge(sub, train_unq, on='customer_id', how='left').fillna('')
merged = pd.merge(train_unq, valid_unq, on='customer_id', how='left').fillna('')

In [230]:
merged = merged[merged['valid_true']!=''].reset_index(drop=True)
print(merged.shape)
merged.head()

(736, 5)

,customer_id,new_article_id,valid_pred,product_code,valid_true
0,272412481300040,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...,"[618162, 727937, 743214, 773781, 776350, 77806...",0618162 0727937 0743214 0773781 0776350 077806...
1,2189512519371567,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...,[788632],0788632
2,3145515554973885,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...,"[743205, 748355, 775328]",0743205 0748355 0775328
3,3193801779412151,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...,"[462128, 487050, 505507, 525563, 620216, 62570...",0462128 0487050 0505507 0525563 0620216 062570...
4,11825822962544980,"[872645, 623397, 522952, 743791, 536139, 64601...",0872645 0623397 0522952 0743791 0536139 064601...,"[702118, 817820]",0702118 0817820

In [231]:
def apk(actual, predicted, k=10):
    """
    Computes the average precision at k.
    This function computes the average prescision at k between two lists of
    items.
    Parameters
    ----------
    actual : list
             A list of elements that are to be predicted (order doesn't matter)
    predicted : list
                A list of predicted elements (order does matter)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The average precision at k over the input lists
    """
    if len(predicted)>k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i,p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    # remove this case in advance
    # if not actual:
    #     return 0.0

    return score / min(len(actual), k)


def mapk(actual, predicted, k=10):
    """
    Computes the mean average precision at k.
    This function computes the mean average prescision at k between two lists
    of lists of items.
    Parameters
    ----------
    actual : list
             A list of lists of elements that are to be predicted 
             (order doesn't matter in the lists)
    predicted : list
                A list of lists of predicted elements
                (order matters in the lists)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The mean average precision at k over the input lists
    """
    return np.mean([apk(a,p,k) for a,p in zip(actual, predicted)])

In [232]:
from tqdm.auto import tqdm
tqdm.pandas()

# MAP
mapk(
    merged['valid_true'].map(lambda x: x.split()), 
    merged['valid_pred'].map(lambda x: x.split()), 
    # train_unq["new_article_id"],
    # valid_unq["product_code"],
    k=12
)

0.0009449436271544192